*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box; 
}

#contenedor{
    width: 1300px;
    height: 1100px;
    /* background-color: gray; */
    margin: 0.3cm auto;
    padding: 0;
}

#header{
    height: 28%;
    background-image: url('/img/comida.jpg'); 
    /* background-repeat: no-repeat;  */
    /* background-repeat: repeat;  */
    
    background-size: 100% 100%;
    
    height: 400px;
    /* width: 1000px; */
    color: white; 
    font-size: 40px;   
         
    margin: 0em;
    border-radius: 2em;

}
.conte {
    text-align: center;
}
.conte a{
    color: white;
    text-decoration: none;
    background-color: turquoise;
    padding: 4px 20px;
    border-radius: 30px;
    font-size: 30px;
    margin: 10px;
}   
.conte p{
    font-size: 60px;
    font-weight: bold;
    margin: 1em 0;
} 


#nav{
    background-image: url('/img/huellas.png');
    height: 5%;
    font-size: 25px;
    /* background-color: rgb(245, 242, 236); */
    margin: 0.5em;
    border-radius: 2em;
    color: rgb(201, 162, 162);
    text-align: center;
    padding: 30px 50px 0 0;
}

#contenido{
    height: 48%;
    
    margin: 0.5em;        
}

#section{
    background-image: url('/img/ropa.jpg');
    background-repeat: no-repeat;
    height: 10px;
    width: 5px;  

    height: 100%;
    width: 20%;
    
    border-radius: 2em;
    margin-left: 00.1cm;    
    float: left;
}

ul.navbar {
    position: relative;
    top: 1.5em;    
    left: 0em;
    
}
ul.navbar{
    font-size: 20px;
    margin: 1em;
    padding: 0.5em;
    border-right: 1.5em ;
}   
/* ul.navbar a{ */
    /* text-decoration-line; */
/* }   */
a:link{
    color: blue;
}
a:visited{
    color: rgb(168, 216, 168);     
}

#aside{   
    
    height: 100%;
    width: 78%;
    /* background-color: rgb(241, 228, 228); */
    border-radius: 2em;
    /* margin-right: 00.1cm;  */
    margin-left: 000.1cm;
    float: right;
}

.redimension{
    width: 330px;
    height: 174px;
}

#footer{ 
    /* background-image: url('/img/huellas.png'); */
    height: 17%;
    background-color: rgb(214, 221, 202);
    margin: 0.5em;
    border-radius: 2em;
    
    padding-left: 5em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(93, 122, 201);
    background-image: url('/img/espuma.jpg');    
    
}
.contact{
    font-size: 10px;
    margin: 1em;
    padding: 0.5em;
    border-left: 1.5em ;
    
}


.social{
    width: 15px;
    position: relative;
    top: 0.5em;
    right: 0;
}

.social{
    top: 2em;
    height: 2px;
    margin-right: 2cm;
    float: right;

}

.social{
    height: 40px;
    width: 40px;
}


