body{
   margin: 0; 
   padding: 0;
   background: rgb(230, 202, 206);
   background-size: cover;
   font-family: sans-serif;
height: 100vh;
}

.banner {
    margin-top: 58px;
    margin-left: 25px;
    color: white;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}

.acceso{
    width: 320px;
    height: 420px;
    background: rgb(172, 154, 157);
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}

.acceso .avatar{
    width: 90px;
    height: 90px;
    border-radius: 70%;
    position: absolute;
    top: -50px;
    left:calc(50% - 50px) ;

}

.acceso h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.acceso label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.acceso input{
    width: 100%;
    margin-bottom: 20px;

}

.acceso input[type="text"],
.acceso input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #333232;
    font-size: 14px;
}

.acceso input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: pink;
    color: #333232;
    font-size: 18px;
    border-radius: 20px;
}

.acceso a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #333232;
}

.acceso a:hover{
    color: #0e0d0d;
}