*{
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 1300px;
    height: 1100px;
    /* background-color: gray; */
    margin: 0.3cm auto;
    padding: 0;
}

#header{
    height: 30%;
    /* background-color: white; */
    background-color: rgb(147, 147, 240);
    margin: 0.5em;
    border-radius: 2em;
}

#nav{
    height: 5%;
    /* background-color: rgb(245, 242, 236); */
    background-color:rgb(140, 140, 177);
    margin: 0.5em;
    border-radius: 2em;
}

#contenido{
    height: 48%;
    
    margin: 0.5em;        
}

#footer{
    height: 15%;
    /* background-color: rgb(246, 247, 245); */
    background-color: rgb(193, 193, 202);
    
    margin: 0.5em;
    border-radius: 2em;
}

#section{
    height: 100%;
    width: 25%;
    background-color: lightskyblue;
    border-radius: 2em;
    margin-left: 00.1cm;
    float: left;
   
}

#aside{
    height: 100%;
    width: 73%;
    /* background-color: rgb(243, 243, 240); */
    background-color: rgb(170, 170, 240);
    border-radius: 2em;
    margin-right: 00.1cm;
    float: right;
    
}

/* .articulo{ */
    /* width: 97%; */
    /* height: 95%; */
    /* background-color: rgb(245, 238, 233); */
    /* background-color: rgb(143, 143, 209); */
    /* margin-left: 0.1em; */
    /* border-radius: 2em; */
    
/* } */